@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');


*,
*:after,
*:before {
	box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body {
  font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
  background-color: #ededed;
  margin: 0;
  padding: 0;
}



header {
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 10rem;
  background-color: #fafafa;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  float: left;

}


.logo{
  height: 7rem;
  width: auto;
  margin: 1rem;
}

.logoname {
  font-family: 'Euphoria Script';
  font-size: 6rem;
  font-weight: 500;
}


.search {
  margin-left: auto;
  height: 4.2rem;
  padding: 1rem;
  width: 36rem;
  font-size: 1.8rem;
  border-style: none;
  background-color: #ffffff;
  color: #e634f2;
  border-radius: 0.6rem;
  outline: 0;
}


main {
  z-index: 90;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}




.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 12rem;
  margin-bottom: 2rem;

}


.product {
  margin: 0.8rem;
  display:flex;
	float:left;
	width: calc((100% - 4.8rem) / 3);
	background-color: #fafafa;
  text-align: center;
  flex-direction: column;
  border-radius: 1rem;
  flex-grow: 0;
  padding: 0;
  border-color: #efefef;
  border-style: solid;
  border-width: thin;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}


.product__image {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.product__image img {
  width: 100%;
  height: auto;
  margin:0;
  transition: ease 1s;
}

.product__image img:hover{
  transition: ease 1s;
  transform: scale(1.2);
}


.product__name {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
}


.product__price {
  padding: 1rem;
}


.product__price--strong {
  padding: 0.4rem;
  margin: 0.4em;
  color: #444444;
  font-size: 1.4rem;
}



.product__price--strike {
  padding: 0.4rem;
  margin: 0.4em;
  color: #aaaaaa;
  font-size: 1.2rem;
}


@media ( max-width: 399px ) {

  .container {
    width: 100%;
  }

  .product {
    width: calc((100% - 1.6rem));
  }    

}



@media ( min-width: 400px ) {

    .container {
      width: 100%;
    }

    .product {
      width: calc((100% - 1.6rem));
    }    

}



@media ( min-width: 600px ) {

  .container {
    width: 100%;
  }
  
  .product {
    width: calc((100% - 3.2rem) / 2);
  }    

}




@media ( min-width: 900px ) {

  .container {
    width: 100%;
  }
  
  .product {
    width: calc((100% - 4.8rem) / 3);
  }    

}



@media ( min-width: 1180px ) {

  .container {
    width: 1180px;
  }
  
  .product {
    width: calc((100% - 6.4rem) / 4);
  }    

}